include mixins

doctype
html( lang="en" )
    head
        title H4ppyC4mper
        
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='H4ppyC4mper EPK' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')

    body(style="padding-bottom:10rem;")
       .container
        +nav("H4ppyC4mper", "dropdown_menu", "transparent")
            +nav_item_dropdown( "#" )( label="Contact" )
              +nav_item( "https://www.facebook.com/H4ppyC4mper/" ) Facebook
              +nav_item( "https://www.instagram.com/h4ppy_c4mper/" ) Instagram 
              +nav_item( "mailto:h4ppyc4mper@outlook.com" ) Email
              
        .jumbotron
            h2 I'm H4ppyC4mper
            p I'm a Music Producer & DJ currently sneaking about Chattanooga, TN.
            p You'll find some tunes and other fun treats on this page, enjoi :D

        .row 
            .col-md-4.col-sm-6.col-xs-12
              center
                <iframe width="300" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/676347483&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            
            .col-md-4.col-sm-6.col-xs-12
              center
                <iframe src="https://open.spotify.com/embed/album/1aSVjZz6m9E9A7G4Z4gLSR" width="300" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            
            .col-md-4.col-sm-6.col-xs-12
              center
                <iframe width="300" height="300" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fh4ppyc4mper%2Fh4ppyc4mper-originals-mix%2F" frameborder="0" ></iframe>
        <br /><br /><br />
        .row    
            .col-md-12.col-sm-12.col-xs-12
              center    
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FH4ppyC4mper%2Fvideos%2F524148551414819%2F&width=500&show_text=false&height=280&appId" width="500" height="280"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
        <br /><br /><br />
        .row    
            .col-md-4.col-sm-6.col-xs-12
              
                a(href='https://www.instagram.com/kprismatic/')
                  img.className#IdName(src="../images/March 8th.jpg" alt="Design by Kelly Patrick" width="100%" height="100%")
            .col-md-4.col-sm-6.col-xs-12
              
                a(href='https://www.instagram.com/kawaiiroo/')
                  img.className#IdName(src="../images/CAMPCHILLA Jan 25th.png" alt="Image Title" width="100%" height="100%")
            .col-md-4.col-sm-6.col-xs-12
              
                a(href='https://www.instagram.com/kawaiiroo/')
                  img.className#IdName(src="../images/campchilla Dec 15th.png" alt="Image Title" width="100%" height="100%")
                

        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )