body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.navbar-brand{
  color:black;
}

a:hover, a:focus {
  color: rgb(69, 244, 165);
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #ecf0f100;
}
.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: #ecf0f100;
}

.dropdown-menu {
  background-color: #ecf0f100;
  border: none;
  border-radius: 0px;
}

.dropdown-toggle{
  color:black;
}

.jumbotron {
  background-color: rgba(204, 204, 204, 0.5);
}

.panel{
  background-color: rgba(204, 204, 204, 0.3);
}

.panel-primary>.panel-heading{
  background-color: rgba(69, 244, 165, 0.6); 
}